@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E4EDF3;
    padding: 4.375vw 5vw;
    overflow-y: scroll;

    display: flex;
    justify-content: center; 
    align-items: center; 
}

.form {
    align-items: center; 
    min-height: 700;
    width: 800px;    
}

.form {
    background-color: #fff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 3.75vw 4.6875vw 3.75vw 3.93vw;
}

.heading-menu,
.heading {
    display: flex;
    justify-content: center; 
}

.heading {
    margin-top: 15px;
}

.form-group {
    margin-top: 20px;
}

.row {
    display: flex;
    justify-content: center; 
    margin: 15px;
}

.custom-btn {
    width: 250px;
}

.custom-btn-doc {
    width: 500px;
}

/* */
.container {
    text-align: center;
  }
  
.table {
    margin-top: 20px;
}

#error-message {
    color: red;
}